<html lang="en-US"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      >
<head>
<title>Finance App</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/mac.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
</head>
<body class="w3-light-grey">

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide">Finance App</a>
    <!-- LEFT-sided navbar links -->
    <div class="w3-left w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button" th:href="@{/summary}"><i class="fa fa-bar-chart-o"></i> SUMMARY</a>
      <a href="#team" class="w3-bar-item w3-button" th:href="@{/transaction}"><i class="fa fa-list"></i> TRANSACTION</a>
      <a href="#work" class="w3-bar-item w3-button" th:href="@{/billsWallet}"><i class="fa fa-euro"></i> BILLS & WALLET</a>
      <a href="#pricing" class="w3-bar-item w3-button" th:href="@{/planner}"><i class="fa fa-calendar"></i> PLANNER</a>
      <a href="#contact" class="w3-bar-item w3-button" th:href="@{/fees}"><i class="fa fa-minus-square-o"></i> FEES</a>
    </div>
    <div class="w3-right w3-hide-small">
      <a href="#work" class="w3-bar-item w3-button" th:href="@{/info}"><i class="fa fa-info"></i> INFO</a>
      <a href="#pricing" class="w3-bar-item w3-button" th:href="@{/settings}"><i class="fa fa-cog"></i> SETTINGS</a>
      <a href="#contact" class="w3-bar-item w3-button" th:href="@{/user}"><i class="fa fa-user"></i> USER</a>
      <a href="#contact" class="w3-bar-item w3-button" th:href="@{/logout}"></i> LOGOUT</a>
    </div>
    

  
  </div>
</div>

<br>
<br>
    <div th:if="${param.emptyValue}">
        <div class="alert alert-danger">Not all values ​​have been filled in, please try again</div>
    </div>
    <div th:if="${param.wrongAmount}">
        <div class="alert alert-danger">The amount field must be positive and not over budget</div>
    </div>
    <div th:if="${param.notEnoughtMoney}">
        <div class="alert alert-danger">Not enough in the account to put some in the wallet</div>
    </div>
<div class="w3-container">
<br>
  <div class="w3-bar w3-light-grey">
    <button class="w3-bar-item w3-button tablink w3-blue" onclick="openBar(event,'Fees')">My fees</button>
    <button class="w3-bar-item w3-button tablink" onclick="openBar(event,'Distributors')">Distributors</button>
    <button class="w3-bar-item w3-button tablink w3-right" onclick="openBar(event,'AddFees')">Add Fees</button>
  </div>
  
  <div id="Fees" class="w3-container w3-border bar" style="min-height:1564px">
    <table class="w3-table-all w3-centered">
            <br>
            <br>
            <tr>
                <th>Payment date</th>
                <th>Distributor</th>
                <th>Title</th>
                <th>Status</th>
                <th>Amount</th>
            </tr>
            <tr th:each="historyFeesDto: ${feesList}" th:switch="${historyFeesDto.status}">
                <td style="vertical-align: middle" th:text="${historyFeesDto.feesDt}"></td>
                <td>
                    <div>
                        <a style="font-size: 15px" th:text="${historyFeesDto.distributors.media.mediaName}"></a> 
                    </div>
                    <div>
                        <a style="font-size: 10px" th:text="${historyFeesDto.distributors.distributorsName}"></a>
                    </div>
                </td>
                <td style="vertical-align: middle" th:text="${historyFeesDto.title}"></td>
                <td th:case="'PAID'" class="w3-text-green" style="vertical-align: middle" th:text="${historyFeesDto.status}"></td>
                <td th:case="'UNPAID'" class="w3-text-red" style="vertical-align: middle" th:text="${historyFeesDto.status}"></td>
                <td th:case="'UNKNOW'" style="vertical-align: middle" th:text="${historyFeesDto.status}"></td>
                <td style="vertical-align: middle" th:text="${historyFeesDto.amountFees}"></td>

            </tr>
    </table>
  </div>

  <div id="Distributors" class="w3-container w3-border bar" style="min-height:1564px">
 	<table class="w3-table-all w3-centered" th:each="media: ${mediaList}">
            <br>
            <br>
            <tr>              
                <th th:text="${media.mediaName}"></th>  
            </tr>
            <tr th:each="distributors: ${media.distributors}">
                <td style="vertical-align: middle" th:text="${distributors.distributorsName}"></td>
            </tr>
    </table>
  </div>
  
  <div id="AddFees" class="w3-container w3-border bar" style="min-height:1564px">
    <br>
    <div class="container">
            <div class="card">
                <div class="card-body">
                    <form
                        method="post"
                        role="form"
                        th:action="@{/fees/add}"
                        class="form-horizontal"
                        type="submit"
                        id="addFees"
                        >
                                <div class="form-group" style="max-width:100%" >
 
                                        <div class="left">
                                        	<div class="w3-quarter">
                                                <label><b>Payment date</b></label>
                                                <input type="date" name="feesDt"></input>
                                            </div>
                                            <div class="w3-quarter">
                                                <label>Distributors</label>
                                                <select id="distributorsId" name="distributorsId">
                                                    <optgroup th:each="media : ${mediaList}" th:label="${media.mediaName}" >
                                                        <option th:each="distributors : ${media.distributors}" th:id="${distributors.distributorsId}" th:value="${distributors.distributorsId}" th:text="${distributors.distributorsName}" th:name="distributors"></option>
                                                    </optgroup>
                                                </select>
                                            </div>                                            
                                            <div class="w3-quarter">
                                                <label><b>Title</b></label>
                                                <input type="text" placeholder="Title" name="title"></input>
                                            </div>
                                            <div class="w3-quarter">
                                                <label><b>Amount</b></label>
                                                <input type="text" placeholder="Amount" value="0.0" name="amountFees"></input>
                                            </div>
                                            
                                        </div>   
                                    <br></br>
                                            <button type="submit" form="addFees" class="addFeesbtn w3-btn w3-block w3-dark-grey w3-central-align w3-right" style="max-width:25%"><strong>Add</strong></button>
                                </div>
                    </form>
            </div>
        </div>
</div>
  </div>


</div>

<script>
function openBar(evt, barName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("bar");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-blue", "");
  }
  document.getElementById(barName).style.display = "block";
  evt.currentTarget.className += " w3-blue";
}
</script>

</body>
</html>
