<!DOCTYPE html>
<html lang="en-US"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      >
    
    <head>
<title>Finance App</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/mac.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
</head>
<body class="w3-light-grey">

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide" th:href="@{/home}">Finance App</a>
    <!-- LEFT-sided navbar links -->
    <div class="w3-left w3-hide-small">

    <a href="#contact" class="w3-bar-item w3-button" th:href="@{/login}"></i> LOGIN</a>
      <a href="#about" class="w3-bar-item w3-button" th:href="@{/registration}"> REGISTRATION</a>
      <a href="#about" class="w3-bar-item w3-button" th:href="@{/passwordForgotten}"> PASSWORD FORGOTTEN</a>
   
    </div>
    <div class="w3-right w3-hide-small">
      <a href="#work" class="w3-bar-item w3-button" th:href="@{/info}"><i class="fa fa-info"></i> INFO</a>
      
    </div>

  </div>
                    <br /><br />
                    
                    <div class="container" style="text-align:center">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">

                                <div th:if="${param.error != null}" </div>
                                    <div th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>
                                </div>
                                <div th:if="${param.error}">
                                    <div class="alert alert-danger">Invalid Email or Password</div>
                                </div>
                                <div th:if="${param.logout}">
                                    <div class="alert alert-success"> You have been logged out.</div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h2 class="text-center">Login Form</h2>
                                    </div>
                                    <div class="card-body">
                                        <form
                                            method="post"
                                            role="form"
                                            th:action="@{/login}"
                                            class="form-horizontal"
                                            >
                                            <div class="form-group mb-3">
                                                <label class="control-label"> Email</label>
                                                <input
                                                    type="text"
                                                    id="email"
                                                    name="username"
                                                    class="form-control"
                                                    placeholder="Enter email address"
                                                    />
                                            </div>

                                            <div class="form-group mb-3">
                                                <label class="control-label"> Password</label>
                                                <input
                                                    type="password"
                                                    id="password"
                                                    name="password"
                                                    class="form-control"
                                                    placeholder="Enter password"
                                                    />
                                            </div>
                                            <div class="form-group mb-3">
                                                <button type="submit" class="loginbtn" >Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </body>
                </html>