<!DOCTYPE html>
<html lang="en-US"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      >

    <head>
        <title>Finance App</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                            <style>
                                body,h1,h2,h3,h4,h5,h6 {
                                    font-family: "Raleway", sans-serif
                                }

                                body, html {
                                    height: 100%;
                                    line-height: 1.8;
                                }

                                /* Full height image header */
                                .bgimg-1 {
                                    background-position: center;
                                    background-size: cover;
                                    background-image: url("/w3images/mac.jpg");
                                    min-height: 100%;
                                }

                                .w3-bar .w3-button {
                                    padding: 16px;
                                }
                            </style>
                            </head>
                            <body class="w3-light-grey">

                                <!-- Navbar (sit on top) -->
                                <div class="w3-top">
                                    <div class="w3-bar w3-white w3-card" id="myNavbar">
                                        <a href="#home" class="w3-bar-item w3-button w3-wide" th:href="@{/home}">Finance App</a>
                                        <!-- LEFT-sided navbar links -->
                                        <div class="w3-left w3-hide-small">

                                            <a href="#contact" class="w3-bar-item w3-button" th:href="@{/login}"></i> LOGIN</a>
                                            <a href="#about" class="w3-bar-item w3-button" th:href="@{/registration}"> REGISTRATION</a>
                                            <a href="#about" class="w3-bar-item w3-button" th:href="@{/passwordForgotten}"> PASSWORD FORGOTTEN</a>

                                        </div>
                                        <div class="w3-right w3-hide-small">
                                            <a href="#work" class="w3-bar-item w3-button" th:href="@{/info}"><i class="fa fa-info"></i> INFO</a>

                                        </div>
                                    </div>
                                    <div class="container" style="text-align:center">
                                        <div class="row col-md-8 offset-md-2">
                                            <div class="card">
                                                <br><br>
                                                        <div th:if="${param.success}">
                                                            <div class="alert alert-info">Please check your email to active your new password.</div>
                                                        </div>
                                                        <div th:if="${param.emptyField}">
                                                            <div class="alert alert-danger">Not all values ​​have been filled in</div>
                                                        </div>
                                                        <div th:if="${param.passwordChangeNotSuccess}">
                                                            <div class="alert alert-danger"> Password change failed, please try again.</div>
                                                        </div>
                                                        <div th:if="${param.passwordChangeSuccess}">
                                                            <div class="alert alert-success"> Password change successful, you can login.</div>
                                                        </div>
                                                        <div class="card-body">
                                                            <form
                                                                method="post"
                                                                role="form"
                                                                th:action="@{/newAccount}"
                                                                class="form-horizontal"
                                                                type="submit"
                                                                id="changePassword"
                                                                th:object="${userDto}"
                                                                >
                                                                <div class="form-group">
                                                                    <p>Please fill in the details to create an account with us.</p>
                                                                    <br></br>
                                                                    <div>
                                                                        <label for="password"><b>Enter password</b></label>
                                                                        <input type="password" placeholder="Enter password" name="password"></input>
                                                                    </div>
                                                                    <br>    </br>    
                                                                    <div>
                                                                        <label for="confirmPassword"><b>Confirm password</b></label>
                                                                        <input type="password" placeholder="Confirm password" name="confirmPassword"></input>
                                                                    </div>
                                                                </div>
                                                                <button type="submit" form="changePassword" class="newAccountPasswordbtn w3-btn"><strong>Change password</strong></button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </body>
                                    </html>