<html lang="en-US"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      >
<head>
<title>Finance App</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/mac.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
</head>
<body class="w3-light-grey">

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide">Finance App</a>
    <!-- LEFT-sided navbar links -->
    <div class="w3-left w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button" th:href="@{/summary}"><i class="fa fa-bar-chart-o"></i> SUMMARY</a>
      <a href="#team" class="w3-bar-item w3-button" th:href="@{/transaction}"><i class="fa fa-list"></i> TRANSACTION</a>
      <a href="#work" class="w3-bar-item w3-button" th:href="@{/billsWallet}"><i class="fa fa-euro"></i> BILLS & WALLET</a>
      <a href="#pricing" class="w3-bar-item w3-button" th:href="@{/planner}"><i class="fa fa-calendar"></i> PLANNER</a>
      <a href="#contact" class="w3-bar-item w3-button" th:href="@{/fees}"><i class="fa fa-minus-square-o"></i> FEES</a>
    </div>
    <div class="w3-right w3-hide-small">
      <a href="#work" class="w3-bar-item w3-button" th:href="@{/info}"><i class="fa fa-info"></i> INFO</a>
      <a href="#pricing" class="w3-bar-item w3-button" th:href="@{/settings}"><i class="fa fa-cog"></i> SETTINGS</a>
      <a href="#contact" class="w3-bar-item w3-button" th:href="@{/user}"><i class="fa fa-user"></i> USER</a>
      <a href="#contact" class="w3-bar-item w3-button" th:href="@{/logout}"></i> LOGOUT</a>
    </div>
  </div>
</div>


<div> SETTINGS</div>

</body>
</html>